# dot folders
.vs*/
.vscode/
.xmake/
.idea/

# folders
build*/
out*/
vs*/

# files
*.zip
CMakeUserPresets.json
.DS_Store
vcpkg*
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
*.code-workspace
/out*
/.vs*
